.DS_Store
train/data/*.csv
train/notebooks/embedding/*
train/notebooks/artifacts/*
mlruns/*
train/notebooks/model_roberta/*
train/notebooks/tokenizer_roberta/*
train/notebooks/model/*
train/notebooks/tokenizer/*
train/mlruns/*
train/notebooks/mlruns/*
train/tokenizer/*
train/model/*
train/notebooks/model/*
train/notebooks/tokenizer/*
train/notebooks/results/*
train/notebooks/results_roberta/*
train/results/*.DS_Store
train/models/*